@font-face {
	font-family: "regular";
	src: url("./VT323-Regular.ttf") format("truetype");
	}
body {
	background-color: black;
        color: white; 
        font-family: 'regular';
        margin: 0;
        padding: 0;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
        "nav"
	"header"
        "main"
        "footer";
    	min-height: 100vh; 
}
ul {
   	list-style-type: square;
	}

.nav {
   	grid-area: nav;
  	background: #111;
   	padding: 10px;
padding: 5px 10px;
 	display: grid;
 	grid-template-columns: 1fr auto;
   	align-items: center;

     	position: sticky;
    	top: 0;
	z-index: 1000;
}

.header {
	justify-self: end;
}

.main {
  	grid-area: main;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 5rem
}

.footer {
	grid-area: footer;
	text-align: center;
	background: #111;
	color: gray;
	padding: 10px;
}
.nav a {
	font-size: 1rem;
	color: white;
	text-decoration: none;
}  
.nav a:hover {
	color: orange;
}
.nav a.active {
	color: orange;
}
.nav a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0;
	height: 2px;
	background: orange;
	transition: 2s;
}
.nav a:hover::after {
	width: 100%;
}

.header h2 {
       	font-size: 2rem;
	margin: 0;
	}
.main a {
	font-size: 1.5rem;
	color: white;
}
.main a:visited {
	color: lightgray;
}

.footer a {
	font-size: 1rem;
	color: gray;
	margin-top: 0.5rem;
}  
.footer p {
	margin: 0;
}
.main p {
        font-size: 1.5rem;
	text-align: center;
	}
